/** @format */

.home_container {
  width: 100%;
  height: 92.7vh;
  display: flex;
  align-items: flex-start;
}
.chat_container {
  width: 100%;
  max-width: 500px;
  height: 92.7vh;
  padding: 7px;
  overflow: hidden;
}
.chat_search_section {
  position: relative;
}
.chat_search_input {
  font-weight: 400 !important;
  font-size: 0.825rem !important;
  height: 35px !important;
  padding-left: 22px !important;
}
.search_icon {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 1px;
}
.chat_secions {
  width: 100%;
  height: 85vh;
  margin-top: 10px;
  position: relative;
}
.chat_tab_section {
  width: 100%;
  display: flex;
  align-items: center;
}
.tab_container {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 15px;
  cursor: pointer;
  cursor: pointer;
  transition: all 0.1s linear;
}
.active_tab {
  color: whitesmoke;
  background-color: var(--secondary-color);
  transition: all 0.1s linear;
}
.action_chat_btn {
  position: absolute !important;
  bottom: 7px !important;
  right: 7px !important;
  z-index: 10 !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
}
.menu_item {
  font-size: 0.75rem !important;
  font-weight: 500 !important;
}
.chat_cards_section {
  width: 100%;
  height: 80vh;
  overflow: scroll;
  margin-top: 3px;
}
.chat_cards_section::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.chat_cards_section {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.message_container {
  width: 100%;
  max-width: 896px;
  background-color: rgb(220, 220, 220);
  padding: 5px;
  height: 92.7vh;
  display: inline-block;
}

@media screen and (max-width: 650px) {
  .message_container {
    display: none;
  }
  .chat_container {
    margin: 0 auto;
  }
}
.empty_chat_section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--secondary-color);
}
.interest_btn {
  background-color: transparent !important;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  padding: 5px 12px !important;
  margin: 3px !important;
  width: fit-content !important;
  height: fit-content !important;
  border-radius: 15px !important;
}
.active_interest_btn {
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
}
.upadte_btn {
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
}
.disable_update_btn {
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  background-color: var(--disable-secondary-color) !important;
  cursor: no-drop !important;
  color: whitesmoke !important;
}
.channel_sorting_container {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  margin: 5px 0;
}
.sort_btn {
  padding: 3px 10px !important;
  margin: 3px !important;
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  border: 1px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  background-color: transparent !important;
  border-radius: 15px !important;
  width: fit-content !important;
  height: fit-content !important;
}
.active_sort_btn {
  background-color: var(--secondary-color) !important;
  border: none;
  color: whitesmoke !important;
}
.channel_sorting_container::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.channel_sorting_container {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal_form_section {
  width: 100%;
  height: 35px;
  position: relative;
}
.modal_input {
  width: 100% !important;
  height: 35px !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  padding-left: 20px !important;
  font-size: 0.825rem !important;
  font-weight: 400 !important;
}
.modal_search_icon {
  position: absolute;
  left: 4px;
  top: 10px;
}
.modal_search_body {
  width: 100%;
  height: 55vh;
  overflow: scroll;
}
.modal_search_body::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.modal_search_body {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal_loadder_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.empty_search_list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 0.75rem;
}
.load_more_btn_section {
  width: 100%;
  height: auto;
  text-align: center;
}
.load_more_btn {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 400 !important;
  font-size: 0.725rem !important;
  width: fit-content !important;

  height: fit-content;
  padding: 2px 7px !important;
  background-color: transparent !important;
}
.full_page_modal_group_create_body {
  width: 100%;
  height: 58vh;
  overflow: scroll;
}
.full_page_modal_group_create_body::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.full_page_modal_group_create_body {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.input_field {
  font-weight: 400 !important;
  font-size: 0.825rem !important;
  margin: 4px 0;
}
.group_type_section {
  margin: 4px;
}
.group_type_header {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 0.825rem;
}
.group_type_btns {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.group_type_btn {
  width: fit-content;
  height: fit-content;
  padding: 2px 10px;
  font-weight: 400;
  font-size: 0.725rem;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  margin: 3px;
  border-radius: 15px;
  cursor: pointer;
}
.active_type {
  color: whitesmoke;
  background-color: var(--secondary-color);
}
.group_members_section {
  width: 100%;
  height: auto;
  margin: 4px 0;
}
.search_input_container {
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgb(205, 205, 205) !important;
}
.modal_search_input {
  width: 200px !important;
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.pills_avatar {
  width: 13px !important;
  height: 13px !important;
  margin-right: 3px;
}
.pills_name {
  font-size: 0.7rem;
  font-weight: 400;
}
.pills_section {
  width: fit-content;
  height: fit-content;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  margin: 2px;
  border-radius: 12px;
  background-color: rgb(240, 235, 226);
}
.group_created_modal_footer {
  width: 100%;
}
.group_create_btn {
  width: 100% !important;
  height: 35px !important;
  font-weight: 400 !important;
  color: whitesmoke !important;
  font-size: 0.8rem !important;
  border-radius: 15px !important;
  background-color: var(--secondary-color) !important;
}
.disable_group_create_btn {
  background-color: var(--disable-secondary-color) !important;
  cursor: no-drop;
}
.load_more_section {
  width: 100%;
  text-align: center;
  padding: 5px;
}
