/** @format */

.channel_card {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  /* border-bottom: 1.5px solid rgb(209, 208, 208); */
  cursor: pointer;
}
.channel_avatar {
  width: 33px !important;
  height: 33px !important;
  margin-right: 5px;
}
.channel_info_section {
  width: 100%;
}
.channel_name {
  font-size: 0.825rem;
  font-weight: 600;
}
.channel_last_msg {
  font-size: 0.65rem;
  font-weight: 400;
  color: rgb(159, 159, 159);
}
.channel_info_header {
  display: flex;
  align-items: center;
  width: 100%;
}
.channel_type {
  font-size: 0.6rem;
  font-weight: 400;
  padding: 2px 7px;
  border-radius: 12px;
  color: royalblue;
  background-color: rgba(65, 105, 225, 0.137);
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
