/** @format */

.profile_header_section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border: 1px solid red;
}
.header_back_btn {
  background-color: transparent !important;
}
.header_title {
  font-weight: bold;
  font-size: 1rem;
}
