/** @format */

.home_header_container {
  width: 100%;
  height: 7vh;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--tertiary-color); */
}
.home_header_buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home_header_app_name {
  font-weight: 500;
  font-size: 0.825rem;
  font-family: "Pacifico", cursive;
}
.notification_box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  margin: 0 5px;
}
.menu_btn {
  background-color: transparent !important;
}
.menu_avatar {
  width: 30px !important;
  height: 30px !important;
}
.menu_item {
  font-weight: 500 !important;
  font-size: 0.75rem !important;
}
.logout {
  color: crimson !important;
}
.drwaer_profile_container {
  width: 100%;
  height: 82.7vh;
  overflow: scroll;
}
.profile_image_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar_section {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
  position: relative;
  padding: 1px;
}
.image_loading_section {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_drawer_avatar {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  border: 2px solid rgb(112, 112, 112);
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
.file_input {
  display: none;
}
.image_file_label {
  background-color: rgba(18, 18, 18, 0.184) !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}
.image-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.image-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.drawer_name_section {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}
.profile_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.editable_section_box {
  width: 100%;
  display: flex;
  align-items: center;
}
.title {
  color: var(--disable-secondary-color);
  margin-right: 7px;
  font-size: 0.75rem;
  font-weight: 500;
}
.name {
  font-weight: bold;
  font-size: 1rem;
}
.edit_icon_btn {
  background-color: transparent !important;
  margin-left: 3px !important;
  padding: 0 !important;
  width: fit-content !important;
  height: fit-content !important;
}
.update_input {
  width: 100% !important;
  font-size: 0.825rem !important;
  font-weight: 400 !important;
}
.update_btn_container {
  margin-top: 5px;
  text-align: right;
}
.cancel_btn {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  margin: 0 2px !important;
  width: fit-content !important;
  height: fit-content !important;
  padding: 2px 15px !important;
  border-radius: 15px !important;
  color: whitesmoke !important;
  background-color: crimson !important;
}
.update_btn {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  margin: 0 2px !important;
  width: fit-content !important;
  height: fit-content !important;
  padding: 2px 15px !important;
  border-radius: 15px !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
}
.disable_update_btn {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  margin: 0 2px !important;
  width: fit-content !important;
  height: fit-content !important;
  padding: 5px 15px !important;
  border-radius: 15px !important;
  background-color: var(--disable-secondary-color) !important;
  color: whitesmoke !important;
  cursor: no-drop !important;
}
.drwaer_profile_container::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.drwaer_profile_container {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.accordion_header {
  font-size: 0.825rem !important;
  font-weight: 500 !important;
  /* font-family: "Pacifico", cursive; */
}

.update_section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accrodion_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(223, 219, 219);
  cursor: pointer;
  border-radius: 5px;
  margin: 2px 0;
}
.avatar_icon {
  font-size: 0.995rem;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.616);
}
.user_name {
  font-weight: bold;
  font-size: 1rem;
}
.modal_footer_section {
  width: 100%;
  text-align: right;
}
.update_profile_btn {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
  width: 100px !important;
  height: 33px !important;
}
.disable_update_profile_btn {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  background-color: var(--disable-secondary-color) !important;
  color: whitesmoke !important;
  width: 100px !important;
  height: 33px !important;
}
.user_bio {
  width: 100%;
  font-weight: 400;
  font-size: 0.825rem;
}
.hobbies_update_section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}
.hobbies_box {
  width: fit-content;
  height: fit-content;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: var(--secondary-color);
  color: whitesmoke;
  border-radius: 15px;
  padding: 2px 12px;
  margin: 2px;
}
.settings_box_header {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drawer_accordion_section {
  margin: 9px 0;
  width: 100%;
  height: auto;
}
.settings_box_name {
  padding: 6px;
  font-weight: bold;
  font-size: 0.825rem;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  width: 100%;
}
.settings_box_icon {
  font-size: 1rem;
  margin-right: 7px;
}
