/** @format */

.home_container {
  width: 100%;
  height: 92.7vh;
  display: flex;
  align-items: flex-start;
}
.chat_container {
  width: 100%;
  max-width: 500px;
  height: 92.7vh;
  padding: 7px;
  overflow: hidden;
}
.chat_search_section {
  position: relative;
}
.chat_search_input {
  font-weight: 400 !important;
  font-size: 0.825rem !important;
  height: 35px !important;
  padding-left: 22px !important;
}
.search_icon {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 1px;
}
.chat_secions {
  width: 100%;
  height: 85vh;
  margin-top: 10px;
  position: relative;
}
.chat_tab_section {
  width: 100%;
  display: flex;
  align-items: center;
}
.tab_container {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 15px;
  cursor: pointer;
  cursor: pointer;
  transition: all 0.1s linear;
}
.active_tab {
  color: whitesmoke;
  background-color: var(--secondary-color);
  transition: all 0.1s linear;
}
.action_chat_btn {
  position: absolute !important;
  bottom: 7px !important;
  right: 7px !important;
  z-index: 10 !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
}
.menu_item {
  font-size: 0.75rem !important;
  font-weight: 500 !important;
}
.chat_cards_section {
  width: 100%;
  height: 80vh;
  overflow: scroll;
  margin-top: 3px;
}
.chat_cards_section::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.chat_cards_section {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.message_container {
  width: 100%;
  max-width: 896px;
  background-color: rgb(220, 220, 220);
  padding: 5px;
  height: 92.7vh;
  display: inline-block;
}

@media screen and (max-width: 650px) {
  .message_container {
    display: none;
  }
  .chat_container {
    margin: 0 auto;
  }
}
.empty_chat_section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--secondary-color);
}
.interest_btn {
  background-color: transparent !important;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  padding: 5px 12px !important;
  margin: 3px !important;
  width: fit-content !important;
  height: fit-content !important;
  border-radius: 15px !important;
}
.active_interest_btn {
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
}
.upadte_btn {
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
}
.disable_update_btn {
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  background-color: var(--disable-secondary-color) !important;
  cursor: no-drop !important;
  color: whitesmoke !important;
}
.channel_sorting_container {
  border: 1px solid red;
  width: 100%;
  height: auto;
  overflow-x: scroll;
  margin: 5px 0;
}
.sort_btn {
  padding: 3px 10px !important;
  margin: 3px !important;
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  border: 1px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  background-color: transparent !important;
  border-radius: 15px !important;
  width: fit-content !important;
  height: fit-content !important;
}
.active_sort_btn {
  background-color: var(--secondary-color) !important;
  border: none;
  color: whitesmoke !important;
}
.channel_sorting_container::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.channel_sorting_container {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
