/** @format */

.message_container {
  width: 100%;
  max-width: 896px;
  height: 92.7vh;
  display: inline-block;
  border-left: 3px solid rgb(232, 228, 228);
}
.main_chat_page_leader {
  width: 100%;
  max-width: 896px;
  height: 92.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_chat_page_leader {
  width: 100%;
  max-width: 896px;
  height: 92.7vh;
  display: inline-block;
  border-left: 3px solid rgb(232, 228, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty_chat {
  width: 100%;
  max-width: 896px;
  height: 92.7vh;
  display: inline-block;
  border-left: 3px solid rgb(232, 228, 228);
  /* display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 0.775rem;
  letter-spacing: 0.1px; */
}
.empty_chat_header {
  border: 1px solid rgb(232, 228, 228);
  width: 100%;
  height: 7vh;
  padding: 5px;
}
.empty_chat_body {
  width: 100%;
  height: 85.75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 0.775rem;
  letter-spacing: 0.1px;
}
.goback_btn {
  background-color: transparent !important;
}
.chat_message_header_section {
  width: 100%;
  height: 7vh;
  padding: 5px;
  display: flex;
  align-items: center;
}
.chat_header_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.back_btn {
  background-color: transparent !important;
}
.chat_header_avatar {
  width: 32px !important;
  height: 32px !important;
  margin-right: 5px;
}
.chat_info_section {
  margin-left: 3px;
  line-height: 12px;
}
.chat_header_name {
  font-weight: 500;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}
.chat_header_type {
  font-size: 0.6rem;
  font-weight: 400;
  padding: 4px 10px;
  border-radius: 12px;
  color: royalblue;
  background-color: rgba(65, 105, 225, 0.137);
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_header_bio {
  font-size: 0.65rem;
  font-weight: 400;
  color: rgb(199, 193, 193);
}
.chat_header_menu_btn {
  background-color: transparent !important;
}
.menu_item {
  font-weight: 500 !important;
  font-size: 0.725rem !important;
}
.delete {
  color: crimson !important;
}

.modal_body_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_image_upload_section {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted var(--secondary-color);
  cursor: pointer;
}
.modal_image_upload_icon {
  font-size: 2rem;
}
.preview_image_section {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  position: relative;
}
.preview_image {
  border-radius: 5px;
  width: 100%;
  height: 200px;
}
.image_close_btn {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}
.modal_footer_section {
  width: 100%;
  text-align: right;
}
.modal_update_btn {
  width: 100px !important;
  height: 33px !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}
.disable_modal_update_btn {
  width: 100px !important;
  height: 33px !important;
  background-color: var(--disable-secondary-color) !important;
  color: whitesmoke !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  cursor: no-drop;
}
.modal_body_input_section {
  width: 100%;
  padding: 2px;
}
.modal_form_input {
  width: 100% !important;
  height: 35px !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
  box-shadow: none !important;
  margin: 3px 0;
}
.members_modal {
  width: 100%;
  height: 68vh;
  overflow: scroll;
}
.members_modal::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.members_modal {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.empty_members_modal {
  width: 100%;
  height: 67.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-size: 0.8rem;
}
@media screen and (max-width: 650px) {
  .message_container {
    display: none;
  }
}
.members_modal_body {
  width: 100%;
  height: 57vh;
  overflow: scroll;
}
.members_modal_body::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.members_modal_body {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal_add_members_btn {
  width: 100% !important;
  height: 33px !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
  font-weight: 400 !important;
  font-size: 0.825rem !important;
}
.disable_modal_add_members_btn {
  width: 100% !important;
  height: 33px !important;
  background-color: var(--disable-secondary-color) !important;
  color: whitesmoke !important;
  font-weight: 400 !important;
  font-size: 0.825rem !important;
  cursor: no-drop !important;
}
.leave_btn {
  background-color: crimson;
}
.members_menu_item {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.members_count {
  font-weight: 400;
  font-size: 0.725rem;
  padding: 2px 6px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 236, 240);
}
.join_chat_btn {
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
  min-width: 100px !important;
  height: 30px !important;
}

/* Message footer section */
.chat_message_footer_section {
  width: 100%;
  height: 7vh;
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
}
.message_input {
  width: 100% !important;
  height: 35px !important;
  border-radius: 15px !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
}
.chat_message_buttons_section {
  display: flex;
  align-items: center;
}
.image_label {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  cursor: pointer;
}
.message_footer_icon {
  font-size: 1rem;
}
.message_footer_btn {
  padding: 0 !important;
  margin: 0 !important;
  width: fit-content !important;
  height: fit-content !important;
  width: 20px !important;
  height: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 2px !important;
  background-color: transparent !important;
}
.disable_message_send_btn {
  padding: 0 !important;
  margin: 0 !important;
  width: fit-content !important;
  height: fit-content !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 7px !important;
  background-color: var(--disable-secondary-color) !important;
  color: whitesmoke !important;
  cursor: no-drop !important;
}
.message_send_btn {
  padding: 0 !important;
  margin: 0 !important;
  width: fit-content !important;
  height: fit-content !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 7px !important;
  background-color: var(--secondary-color) !important;
  color: whitesmoke !important;
}
.message_preview_image_section {
  width: 200px;
  height: 110px;
  border-radius: 5px;
  position: absolute;
  left: 3px;
  bottom: 50px;
}
.message_preview_image {
  width: 200px;
  height: 110px;
  border-radius: 5px;
}
.close_btn {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  background-color: rgba(0, 0, 0, 0.468) !important;
  color: whitesmoke !important;
}
.emoji_container {
  position: absolute;
  right: 5px;
  bottom: 60px;
}
.delete_btn {
  color: whitesmoke !important;
  background-color: crimson !important;
}
.disable_delete_btn {
  color: whitesmoke !important;
  background-color: rgb(242, 92, 122);
}
.not_member_group {
  width: 100%;
  height: 7vh;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  color: var(--secondary-color);
}

/* Chat Full page Body */
.chat_message_body_section {
  width: 100%;
  height: 78.7vh;
}

.message_loader_section {
  width: 100%;
  height: 78.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty_message_section {
  width: 100%;
  height: 73.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--secondary-color);
}
.tab_section {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
}
.message_tab_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 7px;
  border-radius: 20px;
  background-color: rgb(241, 238, 238);
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--secondary-color);
  cursor: pointer;
}
.active_message_tab_section {
  background-color: var(--secondary-color);
  color: whitesmoke;
}
.message_cards_section {
  width: 100%;
  height: 73.5vh;
  overflow: scroll;
}
.message_cards_section::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.message_cards_section {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
