/** @format */

.chat_main_page_container {
  width: 100vw;
  height: 100vh;
}
.chat_page_loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.empty_chat_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 0.8rem;
  font-weight: 500;
}
.chat_page_header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}
.chat_page_info_section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.chat_page_header_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.back_btn {
  background-color: transparent !important;
}
.chat_header_avatar {
  width: 32px !important;
  height: 32px !important;
  margin-right: 5px;
}
.chat_page_info_section {
  margin-left: 3px;
  line-height: 12px;
}
.chat_header_name {
  font-weight: bold;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}
.chat_header_bio {
  font-size: 0.65rem;
  font-weight: 400;
  color: rgb(199, 193, 193);
}
.chat_page_group_info_section {
  margin-left: 3px;
  line-height: 12px;
}
.chat_page_body_section {
  border: 1px solid red;
  width: 100%;
  height: 85vh;
}
.chat_page_body_loader {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messages_section {
  border: 1px solid red;
  width: 100%;
  height: 84.5vh;
  overflow: scroll;
}
.messages_section::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.messages_section {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
